APP_CONFIG_PATH="./configs/quick_deploy.yml"
APP_ENV="prod"

# server's
HTTP_ADDR="0.0.0.0:9000"

# postgres
POSTGRES_HOST="todo-postgres"
POSTGRES_PORT="5432"
POSTGRES_USER="todouser"
POSTGRES_PASSWORD="1111"
POSTGRES_DBNAME="todo"

# session's
SECRET_KEY="example_secret_key"

# redis
REDIS_ADDR="todo-redis:6379"